@tailwind base;
@tailwind components;
/* light */
@font-face {
    font-family: "Clarity City";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:
        local("Clarity City"),
        url("/fonts/clarity/WOFF2/ClarityCity-Light.woff2") format("woff2"),
        url("/fonts/clarity/WOFF/ClarityCity-Light.woff") format("woff");
}

/* regular */
@font-face {
    font-family: "Clarity City";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local("Clarity City"),
        url("/fonts/clarity/WOFF2/ClarityCity-Regular.woff2") format("woff2"),
        url("/fonts/clarity/WOFF/ClarityCity-Regular.woff") format("woff");
}

/* medium */
@font-face {
    font-family: "Clarity City";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        local("Clarity City"),
        url("/fonts/clarity/WOFF2/ClarityCity-Medium.woff2") format("woff2"),
        url("/fonts/clarity/WOFF/ClarityCity-Medium.woff") format("woff");
}

/* semi bold */
@font-face {
    font-family: "Clarity City";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        local("Clarity City"),
        url("/fonts/clarity/WOFF2/ClarityCity-SemiBold.woff2") format("woff2"),
        url("/fonts/clarity/WOFF/ClarityCity-SemiBold.woff") format("woff");
}
@tailwind utilities;
